@model IEnumerable<BatDongSan.Models.tbl_City>

@{
    ViewBag.Title = "Tỉnh thành";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/TaiKhoan.css" rel="stylesheet" />
<div class="modal-header">
    <h2>Danh sách tỉnh/thành</h2>

    <p>
        <button onclick="CreateTT()" class="btn btn-default" style="cursor:pointer"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </p>
</div>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Tác vụ</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @if (item.Status == 1)
            {
                <text>Hoạt động</text>;
            }
            else
            {
                if (item.Status == 2)
                {
                    <text>Đang xây dựng</text>
                }
                else
                {
                    if(item.Status == 3)
                    {
                        <text>Ngừng hoạt động</text>
                    }
                }
            }
        </td>
        <td>
            <button type="button" onclick="EditTT(@item.ID_City)" class="btn btn-default"><i class="fa fa-magic" aria-hidden="true"></i></button>
            <button type="button" onclick="DeleteTT(@item.ID_City)" class="btn btn-google"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
    </tr>
}

</table>
<script>
    function CreateTT() {
        window.location.href = "/Admin/tbl_Citys/Create";
    }
    function EditTT(MTT) {
        window.location.href = "/Admin/tbl_Citys/Edit/" + MTT;
    }
    function DeleteTT(MTT) {
        var f = confirm("Bạn muốn xóa tỉnh/thành có mã: " + MTT + " phải không?");
        if (f == true) {
            window.location.href = "/Admin/tbl_Citys/DeleteTT/" + MTT;
        }
    }
</script>